:focus:not(:focus-visible) {
  outline: none;
}

body {
  font-family: sans-serif;
}

footer {
  text-align: center;
  color: #ccc;
  padding-top: 80px;
}

.page {
  text-align: center;
  padding: 20px;
}

.container {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 20% 20% 40% 20%;
  grid-template-rows: auto;
  padding-bottom: 5px;
}
